
#quarto-content{
  background-color: #ffffff;
}

/* #f7faff */

.cr-section {
  background-color: #ffffff;
}

/* #457cc3 */
/* #e1e2e6 */

.narrative {
  background-color: #e8e9ed;
  border-radius: 5px;
  margin-left: 35px;
  width: 110%;
}

.figure .figure-img{
    border-radius: 10px;
}
